/* Variables */
:root {
  --editor-bg: #eee;
  --editor-border: #3f87a6;
}

/*Reset styles*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Editor styling*/
/*Thanks to https://www.youtube.com/watch?v=04DNiqIt1iU*/

.code-and-editor {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1.2em 0;
}

.code-block {
  box-sizing: border-box;
  background-color: grey;
  color: white;
  padding: 1em;
  margin-right: 1em;
  height: 100%;
  width: 50%;
  overflow: auto;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.editor__wrapper {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--editor-bg);
  padding: 2em;
  margin-left: 1em;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.editor__body {
  flex: 1;
}

.editors {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid var(--editor-border);
}

.editor__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.editor__btn {
  border: 0;
  padding: 0.5em;
  background-color: #fff;
  border: 2px solid #333;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: 100px;
  cursor: pointer;
}

/*Page styling*/

h1 {
  text-align: center;
}

body {
  padding: 3em;
  margin-bottom: 50px;
}

h1,
h2,
h3 {
  padding: 1em 0;
}

p {
  padding: 0.5em 0;
}

img {
  max-width: 1500px;
  padding-right: 1em;
}

.button {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  background-color: #fff;
  border: 2px solid #333;
  margin: 2em 1em 0 1em;
  width: 150px;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
}

.button:hover {
  background-color: #e8e9e8;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Table styling*/
//Thanks to https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l

table {
  border-collapse: collapse;
  margin: 35px 0;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: left;
}

thead tr {
  background-color: #009879;
  color: #ffffff;
}

th,
td {
  padding: 12px 35px 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
